<!-- Variable binding
<div class="container">
  <h1>Calculadora Variable binding</h1>
  <div class="form-group">
    <label for="">Numero a:</label>
    <input #operandoAbinding type="number" class="form-control" placeholder="agrega un numero">
  </div>
  <div class="form-group">
    <label for="">Numero b:</label>
    <input #operandoBbinding type="number" class="form-control" placeholder="agrega un numero">
  </div>
  <div class="">
    <label for="">Resultado: {{sumar_variable_binding(+operandoAbinding.value, +operandoBbinding.value)}}</label>
  </div>
  <button type="button" class="btn btn-primary"
    (click)="sumar_variable_binding(+operandoAbinding.value, +operandoBbinding.value)"
  >Sumar</button>
</div> -->

<!-- Two way bindig -->
<div class="container">
  <h1>Calculadora Two way bindig</h1>
  <app-formulario (sumando)="suma($event)"></app-formulario>
  <app-resultado [resultado]="resultadoSuma"></app-resultado>
</div>

